---
//Codigo del servidor

import type { PokemonListResponse } from "../interfaces/pokemon-list.response";

const title = "Pokemon Static | Home";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon/");

const data = (await resp.json()) as PokemonListResponse;

console.log(data);

import MainLayout from "../layouts/MainLayout.astro";

import PokemonCard from "../components/PokemonCard.astro";
---

<MainLayout title={title}>
  <h1 class="mt-2 mb-2 text-3xl">Listado de pokemos</h1>
  <hr class="mb-4" />

  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>
</MainLayout>
